<div class="search_form">
    <form method="GET" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="tim kiem...">
          
        </div>

        <button type="submit" class="btn btn-primary">tim kiem</button>
    </form>
</div>


